@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
  background: #0c1828;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.logo {
  font-weight: bold;
  font-size: 2.5em;
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #ffffff 60%, #f2cb05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo::before {
  content: '';
  position: absolute;
  bottom: -0.3em;
  left: 0;
  width: 100%;
  height: 0.2em;
  background: #f2cb05;
  border-radius: 100% 100% 0 0;
}

img[src*="camera"] {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

hr.section-divider {
  border: none;
  border-top: 4px solid #55acee;
  border-radius: 999px;
  margin: 40px auto;
  width: 90%;
}