body {
  background: linear-gradient(to bottom, #0e3b56 0%, #04121f 100%);
  color: white;
}

img[src*="camera"] {
  width: 450px;
  max-width: 100%;
  margin-left: auto;
  margin-right: 0;
  display: block;
}